.containertwitch {
  display: flex;
  width: 90%;
  flex-direction: row;
  background-color: rgba(99, 18, 175, 0.157);
  margin: 10px;
  padding: 0;
  justify-content: center;
  margin-top: 50px;
}

.containertwitch p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.containertwitch h1 {
  width: 9%;
  background-color: rgba(238, 130, 238, 0.361);
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 40px;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;

}

.containertwitch:hover {
  box-shadow: 0 0 20px rgba(142, 10, 186, 0.697);
  transition: box-shadow 0.3s ease-in-out;
}

.player-wrapper {
  display: flex;
  width: 400px;
  justify-content: center;
  flex: 1;
  position: relative;
  background: black;
  margin-top: 60px;
  border-radius: 30px;

}

.chat-wrapper {
  position: relative;
  flex: 1;
  margin-top: 60px;
}

.player-wrapper iframe {
  background-color: transparent;
  width: 100%;
  height: 370px;
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 10px;


}

.chat-wrapper iframe {
  width: 400px;
  height: 370px;
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 20px;


}

/* Responsivo */
@media (max-width: 900px) {
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: 0;
    padding: 0;
  }

  .containertwitch {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;


  }

  .player-wrapper {
    display: flex;
    align-self: center;
    width: 90%;
    height: 150px;
    margin: 10px;

  }

  .chat-wrapper {
    display: flex;
    align-self: center;
    width: 100%;
    height: 150px;
    margin: auto;
  }

  .player-wrapper iframe {
    background-color: transparent;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 10px;


  }

  .chat-wrapper iframe {
    background-color: transparent;
    display: flex;
    align-self: center;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 10px;
  }
}